.zero-margin {
  margin: 0;
}

.card {
  border-radius: 20px;
  height: 650px;
  overflow: hidden;
}

/* .card-footer {
  border-radius: 20px;
 overflow: hidden; 
} */

.chatbox-title {
  width: 80%;
}

.number-of-users {
  font-weight: 100;
}

.close-button {
  cursor: pointer;
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

.messages {
  height: 90%;
  overflow: scroll;
  overflow-anchor: auto;
  overflow-x: hidden;
}

.card-body {
  padding-bottom: 0px;
}

.user-typing {
  height: 12px;
  font-size: 12px;
  margin: 0;
}

.user-typing p {
  padding: 3px 0 0;
  margin: 0; 
}