.empty-chat-box {
  height: 650px;
  width: 300px;
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.column {
  display: inline-block;
  
}

.empty-chat-div {
  color: var(--main);
  font-family: "Roboto", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  margin-top: 100%;
}
