.zero-margin {
  margin: 0;
}

.card {
  border-radius: 20px;
  height: 650px;
  overflow: hidden;
}

.card-footer {
  /* border-radius: 20px; */
 /* overflow: hidden; */
}

.close-button {
  cursor: pointer;
}

.messages {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-anchor: none !important;
}

.card-body {
  padding-bottom: 0px;
}

.user-typing {
  height: 12px;
  font-size: 12px;
  margin: 0;
}

.user-typing p {
  padding: 3px 0 0;
  margin: 0; 
}