.event-tile {
  background: blue;
  height: 15em;
  color: white;
  border-radius: 1em;
}

/* .event-tile-column a {
  color:#fff;
}

.event-tile-column a:hover {
  color:#000;
} */

.event-tile-numbers {
  margin-left: 0.5em;
}

.event-tile-top {
  padding-top: 10px;
}


.event-tile-bottom {
  position: absolute;
  bottom: 0;
  width: 76.67%;
}


/* .event-tile-bottom-people {
  align-items: start;
}

.event-tile-bottom-conversations {
  align-items: end;

} */
