.event-tile {
  background: blue;
  height: 15em;
  color: white;
  border-radius: 1em;
}

.event-tile-numbers {
  margin-left: 0.5em;
}

.event-tile-bottom {
  position:absolute;
  bottom:0;
  width: 87.76%;
}
