#attend-event {
  color: var(--main);
}

.event-tile {
  background: var(--main);
  height: 250px;
  color: white;
  border-radius: 1em;
}

/* .event-tile-column a {
  color:#fff;
} */

.event-tile-column a:hover {
  text-decoration: none;
}

.event-tile-numbers {
  display: inline-block;
}

.event-comments, .event-users {
  position: absolute;
  bottom: -250px;
}
