#header {
  background-color: #ffe354;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

#muze {
  float: left;
  height: 25px;
  margin: 10px;
}

#user-info {
  float: right;
  text-align: right;
  margin: 2px 0 0 0;
  height: 50px;
}

#user-words {
  margin: 0 0 0 0;
  display: inline-block;
}

#user-words p {
  color: var(--main);
}

#user-name {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 0 0 0;
}

#user-byline {
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1em;
}

#user-circle {
  float: right;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  background-color: var(--main);
  margin: 4px 15px 0 10px;
}

#user-circle p {
  color: white;
  font-size: 1.7em;
  font-weight: 100;
  text-align: center;
}
