:root {
  --main: #3029b3;
  --light: #ffe354;
  --hover-blue: #4040ad;
  --hover-yellow: #e5be1c;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h2 {
  font-weight: 200;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
