:root {
  --main: #3029B3; 
  --light: #FFE354;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}